#career {
  background-color: #f5f5f4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 90dvh;
}

.career-title {
  font-size: 50px;
}
.wrapper {
  width: 90%;
  top: 50%;
  margin: 0 auto;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}
.career-container {
  width: 30vmin;
  height: 35vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #0e0e0e;
  border-bottom: 10px solid #7f591c;
  animation: fadeslide linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  animation-duration: 1ms;
}
.career-container-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.career-icon {
  color: #7f591c;
  font-size: 2.5em;
  text-align: center;
  font-size: clamp(1.5rem, 2rem, 2.5rem);
}
.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}
.text {
  color: #e0e0e0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 1.2;
}
.career-point {
  padding-bottom: 4px;
  margin: 5px;
  list-style: none;
  font-size: 1rem;
}
@keyframes fadeslide {
  from {
    opacity: 0.8;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 720px) {
  .wrapper {
    gap: 15px;
  }
  .career-point {
    font-size: 1.5rem;
  }
  .num {
    font-size: 2.5rem;
  }
  .career-container {
    width: 100%;
    border-radius: 15px;
    height: 65vmin;
  }
}

@media screen and (max-width: 480px) {
  #career {
    margin-top: 60px;
  }
  .career-point {
    font-size: 1rem;
  }
  .num {
    font-size: 1.6rem;
  }
}
