#career {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 80vw;
  top: 50%;
  margin: 0 auto;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.career-container {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #000;
  border-bottom: 10px solid #7f591c;
}
.career-container-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.career-icon {
  color: #7f591c;
  font-size: 2.5em;
  text-align: center;
}
.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
.text {
  color: #e0e0e0;
  font-size: 1.5em;
  text-align: center;
  width: 90%;
  margin:  0 auto;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 1;
}
.career-point{
  padding-bottom: 4px;
  margin: 5px;
  list-style: none;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .career-container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .career-container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }
  .career-container {
    width: 100%;
    border-radius: 15px;
    height: 65vmin;
    font-size: 10px;
  }
}
